body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #BBBBBB;
    padding: 10px 0;
}

.caixa_header {
    position:relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    right: 0px;
    top: 110px;
}


nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    font-size: 22px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

main .produtos {
    padding: 20px 0;
    width: 940px;
    margin: 40 auto;
    text-align: center;
}

.produtos li {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    padding: 30px 20px;
    margin: 0 1.5%;
    box-sizing: border-box; /* isso faz com que o tamanho total do elemento mantenha 30%, nao crescendo com o padding */
    border: 2px solid #000000;
    border-radius: 15px 40px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos li:hover h2 {
    font-size: 33px;
}

.produtos .descricao {
    font-size: 18px;
}

.produtos .preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

footer {
    text-align: center;
    background-image: url(../res/bg.jpg);
    padding: 20px 0;   
}

footer p {
    color: white;
}

footer #text-exemplo {
    margin-top: 20px;
}

footer #copyright {
    font-size: 13px;
}

main form label, main form legend {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.layout-itens-texto {
    display: block;
    margin-bottom: 20px;
    width: 50%;
    padding: 10px 25px;
}

fieldset.sessao-formulario {
    margin: 20px 0px;
}

#botao-envio-formulario {
    padding: 10px 0;
    width: 40%;
    
    font-size: 20px;
    font-weight: bold;
    color: white;
    
    border: none;
    border-radius: 10px;

    background-color: #C78C19;

    cursor: pointer;
}

#botao-envio-formulario:hover {
    transition: 1s;  /* pode ser colocado em qualquer parte dessa config */
    
    background-color: darkorange;
    transform: scale(1.2);
}

#tabela-horarios-atendimento {
    margin: 40px 0;
}

#tabela-horarios-atendimento thead {
    background-color: #555555;
    font-weight: bold;
    color: white;
}

#tabela-horarios-atendimento td, #tabela-horarios-atendimento th {
    text-align: left;
    padding: 10px 15px 3px 15px;
}

#tabela-horarios-atendimento td {
    border-bottom: 1px solid black;
}

/* Css expecifico pagina principal */
#banner {
    width: 100%;
}


main .principal {
    background-color: #fefefe;
}

.conteudo-principal {
    width: 940px;
    margin: 0 auto;
    padding: 3em 0;
}

main .titulo-principal {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

main p {
    margin-bottom: 1em;
}

main p em {
    font-style: italic;
}

main p strong {
    font-weight: bold;
}

main .mapa {
    background: linear-gradient(#fefefe, #888888);
}
main .mapa .conteudo-mapa {
    width: 940px;
    margin: 0 auto;
    padding: 3em 0;
}

main .mapa p {
    margin: 0 0 2em;
    text-align: center;
}



main section.mapa iframe {
    width: 100%;
    height: 300px;
}

main .beneficios {
    background-color: #888888;
    padding: 3em 0;
}
main .conteudo-beneficios {
    margin: 0 auto;
    width: 640px
}

main .lista-beneficios{
    font-size: 1.2em;
    line-height: 1.5em;
    display: inline-block;
    vertical-align: top;
    width: 39%;
}

main .lista-beneficios li:first-child {
    font-weight: bold;
}

main .lista-beneficios li::before {
    content: "✓";
}

main #imagem-beneficios {
    width: 60%;    
}

main .video {
    margin: 2em auto;
    width: min-content; 
}

main img.utensilios{
    width: 5em;
    float:left;
    margin: 0 20px 20px 0;
    position: relative;
    top: -1em;
}